@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HammersmithOne;
  src: url(../fonts/Hammersmith_One/HammersmithOne-Regular.ttf);
}

@font-face {
  font-family: HoltwoodOneSC;
  src: url(../fonts/Holtwood_One_SC/HoltwoodOneSC-Regular.ttf);
}

body{
  background-color: #F1FFFC;
}